[Unit]
Description=Prometheus AlertManager
After=network.target
After=prometheus.service

[Service]
User=prometheus
WorkingDirectory={{ prometheus_alertmanager_daemon_dir }}
ExecStart={{ prometheus_alertmanager_daemon_dir }}/alertmanager \
        --config.file={{ prometheus_config_path }}/alertmanager.yml \
        --storage.path={{ prometheus_alertmanager_db_path }}

[Install]
WantedBy=multi-user.target
